body { 
    box-sizing: border-box;
    background-color: #2B3A55;
    text-align: 
}

img {
    /* display:  block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.info-section {
    text-align:  center;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    background-color: #3C4048;
}

.info-section > h1 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #F3EFE0;
}

.info-section > h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: goldenrod;
}

.info-section > a {
    color: wheat;
}

.btn {
   display:  flex;
   justify-content: center;
   margin-top: 5px;
}

.btn > .first-button {
    margin-right: 5px;
    width: 150px;
    border: 0;
    cursor: pointer;
}

.btn > .second-button {
    margin-left: 5px;
    width: 150px;
    background-color: #0072b1;
    border: 0;
    cursor: pointer;
}

.about-div {
    /* display: block; */
    color: #F3EFE0;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.interests-div {
    /* display: block; */
    color: #F3EFE0;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.footer-div {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.img {
    margin-right: 20px;
    margin-left: 20px;
}